

<aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <!-- 左侧导航 -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <!-- 左侧上方用户 -->
            <div class="user-panel">
                <div class="pull-left image">
                    <i style="color:white;margin-top:10%;" class="fa fa-user fa-3x"></i>
                </div>
                <div class="pull-left info">
                    <p id="name-pull-left">{{usesName}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!-- 左侧下方导航 -->
            <ul class="sidebar-menu">
                <li class="treeview {{if (currentPage == 'siteManage')}} active {{/if}}" >
                    <a href="#">
                        <i class="fa fa-check-square-o"></i> <span>站点管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>&nbsp;附近站点</a></li>
                        <li><a href="./diTaskReport.html"><i class="fa fa-angle-double-right"></i>&nbsp;站点浏览</a></li>
                        <li><a href="./diCameraReport.html"><i class="fa fa-angle-double-right"></i>&nbsp;新增站点</a></li>
                    </ul>
                </li>
                <li class="treeview  {{if (currentPage == 'userManage')}} active {{/if}}" >
                    <a href="#">
                        <i class="fa fa-user"></i> <span>人员管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="./patrol.html"><i class="fa fa-angle-double-right"></i>&nbsp;人员浏览</a></li>
                        <li><a href="./paMulReport.html"><i class="fa fa-angle-double-right"></i>&nbsp;签到记录</a></li>
                    </ul>
                </li>
                <li class="treeview {{if (currentPage == 'goodsManage')}} active {{/if}}">
                    <a href="#">
                        <i class="fa fa-th-large"></i> <span>物资管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="./patrolMatermal1.html"><i class="fa fa-angle-double-right"></i>&nbsp;物资浏览</a></li>
                        <li><a href="./paTaskReportIinre.html"><i class="fa fa-angle-double-right"></i>&nbsp;入库单</a></li>
                        <li><a href="./paTaskReportIoutre.html"><i class="fa fa-angle-double-right"></i>&nbsp;出库单</a></li>
                        <li><a href="./twoDimensionCode.html"><i class="fa fa-angle-double-right"></i>&nbsp;生成二维码</a></li>
                    </ul>
                </li>
                <li class="treeview {{if (currentPage == 'equipmentManage')}} active {{/if}}">
                    <a href="#">
                        <i class="fa fa-arrows-alt"></i> <span>设备管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="./deviceList.html"><i class="fa fa-angle-double-right"></i>&nbsp;设备浏览</a></li>
                        <li><a href="./addDevice.html"><i class="fa fa-angle-double-right"></i>&nbsp;新增设备</a></li>
                        <li><a href="./authorizationCode.html"><i class="fa fa-angle-double-right"></i>&nbsp;下发授权码</a></li>
                    </ul>
                </li>
                <li class="treeview {{if (currentPage == 'taskManage')}} active {{/if}}">
                    <a href="#">
                        <i class="fa fa-tasks"></i> <span>任务管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="./taskManagement.html"><i class="fa fa-angle-double-right"></i>&nbsp;任务浏览</a></li>
                        <li><a href="./addTask.html"><i class="fa fa-angle-double-right"></i>&nbsp;新增任务</a></li>
                        <li><a href="./patrolHiddenDanger.html"><i class="fa fa-angle-double-right"></i>&nbsp;巡视隐患</a></li>
                    </ul>
                </li>
                <li class="treeview {{if (currentPage == 'systemManage')}} active {{/if}}">
                    <a href="#">
                        <i class="fa fa-film"></i> <span>系统管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="./listOfMaterials.html"><i class="fa fa-angle-double-right"></i>&nbsp;物资种类参数</a></li>
                        <li><a href="./patrolHiddenList.html"><i class="fa fa-angle-double-right"></i>&nbsp;巡逻隐患种类参数</a></li>
                        <li><a href="./baseInformation.html"><i class="fa fa-angle-double-right"></i>&nbsp;基本信息</a></li>
                    </ul>
                </li>
                <li class="treeview {{if (currentPage == 'orgManage')}} active {{/if}}">
                    <a href="#">
                        <i class="fa fa-sitemap"></i> <span>机构管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="./mechanismBrowsing.html"><i class="fa fa-angle-double-right"></i>&nbsp;机构浏览</a></li>
                        <li><a href="./addMechanism.html"><i class="fa fa-angle-double-right"></i>&nbsp;新增机构</a></li>
                    </ul>
                </li>
                <li class="treeview {{if (currentPage == 'roleManage')}} active {{/if}}">
                    <a href="#">
                        <i class="fa fa-anchor"></i> <span>角色管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="./roleBrowsing.html"><i class="fa fa-angle-double-right"></i>&nbsp;角色浏览</a></li>
                        <li><a href="./addRole.html"><i class="fa fa-angle-double-right"></i>&nbsp;新增角色</a></li>
                    </ul>
                </li>
                <li class="treeview {{if (currentPage == 'authManage')}} active {{/if}}">
                    <a href="#">
                        <i class="fa fa-sort-amount-desc"></i> <span>权限资源管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="./definePermissions.html"><i class="fa fa-angle-double-right"></i>&nbsp;定义权限</a></li>
                        <li><a href="./resourceList.html"><i class="fa fa-angle-double-right"></i>&nbsp;定义资源</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

<script type="application/javascript">

    $('li.treeview').map(function(){
        if($(this).hasClass('active')){
            $(this).find('.pull-right').removeClass('fa-angle-left').addClass('fa-angle-down');
            $(this).find('.treeview-menu').css('display','block');
        }
        $(this).on('click', fun);
    });
    function fun(){
        if($(this).hasClass('active')){
            $(this).find('.pull-right').removeClass('fa-angle-down').addClass('fa-angle-left');
            $(this).removeClass('active').find('.treeview-menu').css('display','none');
        } else{
            $(this).find('.pull-right').removeClass('fa-angle-left').addClass('fa-angle-down');
            $(this).addClass('active').find('.treeview-menu').css('display','block');
        }
    }
</script>



